body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/congruent_outline/congruent_outline.png");
  /* background: url(../images/nature1.jpg); */
  /* background-repeat: no-repeat; */
  /* border:2px #dddddd; */
  /* margin: 45px 400px 100px 300px; */
  /* width: 960px; */
  /* text-align: center; */
}

* {
  box-sizing: border-box;
}

/* general */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

#logos {
  width: 250px;
  height: 250px;
}

/* #zero-box-pic */
.box {
  /* background: url(../images/nature1.jpg); */
  /* background: url(../images/IMG_2185.jpg); */
  /* background: url(../images/nature2.jpg); */
  /* background-size: cover; */
  /* background-size: contain; */
  background-repeat: no-repeat;
  object-fit: cover;
}

#zero-box {
  padding-top: 8%;
  margin-left: 30%;
  margin-right: 25%;

}

#crystal-box {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: #4aaaa5 8px solid;
  /* background: white; */
}

#crystals {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 8px red solid;
}

#crystals-text {
  width: 300px;
  height: 150px;
  border: 8px orange solid;
  float: right;
  margin-right: 25px;
}

#psychic-box {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: 8px solid blue;
  /* background: white; */
}

#psychic {
  width: 200px;
  height: 200px;
  border: 8px green solid;
  object-fit: cover;
}

#psychic-text {
  width: 150px;
  height: 150px;
  border: 8px purple solid;
  float: left;
}


#page-break {
  margin-top: 5%;
  background: white;
  background: url(assets/images/congruent_outline/congruent_outline.png);
}

#second-box {
  margin-top: 5%;
  margin-bottom: 4%;
  margin: 0 auto;
  /* background: #545454; */
  background: white;
  width: 100%;
  height: 300px;
  max-width: 960px;
  clear: both;
  border: #333333 dashed 4px;
  border-radius: 25%;
  text-align: center;
}

#third-box {
  margin-bottom: 4%;
  margin: 5% auto;
  /* background: #545454; */
  background: white;
  width: 100%;
  height: 300px;
  max-width: 960px;
  clear: both;
  border: #333333 dashed 4px;
  border-radius: 25%;
}

#fourth-box {
  height: 500px;
  width: 100%;
  /* padding: 5% 0 5% 0; */
  /* background: beige; */
  background: white;
  border-top: lightgrey dashed 8px;
  border-bottom: lightgrey dashed 8px;
  margin-bottom: 4%;
  text-align: center;
}

#css {
  width: 150px;
  height: 120px;
  margin-left: 2%;
  margin-right: 2%;
}

#jquery {
  width: 185px;
  height: 135px;
  margin-left: 2%;
  margin-right: 5%;
}

#html,
#js {
  width: 120px;
  height: 120px;
  margin-left: 2%;
  margin-right: 2%;
}

p:last-child {
  margin-bottom: 0;
}

h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #bc8c3e;
}

h1 {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 49px;
  color: #bc8c3e;
  border-bottom: 3px solid#dddddd;
}


#parah1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* float: left; */
  /* width: 60px; */
}

ul{
 
}
/* header */

/* #masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #ffffff;
  background: lightslategrey;
  opacity: .35;
  border-bottom: #cccccc;
} */

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

/* footer */

footer {
  padding: 30px;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
  /* width: 100%; */
}

/* main */
#main-container {
  padding-top: 70px;

}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 2% 20px 2%;
  /* overflow: auto; */
}

.work img {
  width: 100%;
  border: 0;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 5px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;

}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  padding-bottom: 10px;
  transform: rotate(90deg);
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

/* // Medium devices (tablets, less than 980px) */
@media (max-width: 980px) {

  #formC {
    width: 60%;
  }

  .main-section {
    position: relative;
    width: 95%;
    padding-right: 5%;
    /* margin: 60px 0px 20px 0px; */
  }

  #masthead {
    width: 93%;
    padding-right: 5%;
  }


  .work {

    margin: auto;
    width: 75%;
    position: relative;
  }

  /* #aboutMeH #porfolioH {
      text-align: left;
    }
  
    #contactH {
      text-align: center;
    } */

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {

  #formC {
    width: 95%;
  }

  .main-section {
    position: relative;
    /* margin: 60px 0px 20px 0px; */
  }

  #masthead {
    width: 93%;
    padding-right: 3%;
  }

  /* BELOW IS SOME CODE THAT WAS PLAYED AROUND WITH TO TEST RESPONSIVENESS
  UNTIL DESIRED LAYOUT AND VIEW WAS ACHIEVED */
  .work {

    margin: auto;
    width: 75%;
    position: relative;
  }

  #aboutMeH #porfolioH {
    text-align: left;
  }

  #contactH {
    text-align: center;
  }
}

/* // Extra small devices (portrait phones, less than 640px) */
@media (max-width: 640px) {

  #formC {
    width: 97%;
  }

  nav {
    float: none;
    clear: both;
    padding: 20px;
    text-align: center;

  }

  .main-section {
    position: relative;
    margin: 60px 0px 20px 0px;
  }

  section h1 {
    text-align: center;
  }

  #masthead {
    width: 93%;
  }

  #logo {
    width: 110%;
  }

  .work {
    margin: auto;
    width: 75%;
    position: relative;
  }

}